<!DOCTYPE html>
    <head> 
        {% block meta_tags %}
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% endblock meta_tags %}
        {% block stylesheets %}{% endblock %}
        <!--link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /-->
    </head>
    <body {% block clase_body %}id="app"{% endblock %} role="document">
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>