{% extends 'DashboardBundle::layout.html.twig' %}

{% block body %} 
    <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-2">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <img src="{{asset('images/checkengine-big.png')}}" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"><a href="#"><img src="{{asset('images/google-play.jpg')}}"></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left"><a href="#"><img src="{{asset('images/google-play.jpg')}}"></a></div>
            </div>
        </div>
{% endblock %}
